/*Global*/

@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'AR One Sans', sans-serif;
}

/*Navbar*/

nav, .nav-links{
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.name {
    font-size: 2rem;
    cursor: default;
}

.nav-links {
    list-style: none;
    font-size: 1.75rem;
    gap: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
}

.nav-links li:hover {
    color: grey;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}

.nav-links a:hover {
    color: grey;
}

/*Section*/

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

/* Hero */

#hero{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.picture {
    display: flex;
    width: 400px;
    height: 400px;
    margin: auto 0;
}

.highlight {
    align-self: center;
    text-align: center;
}

.highlight .name {
    font-size: 3rem;
    text-align: center;
}

.highlight p {
    font-weight: 600;
    text-align: center;
  }

.socials {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.socials .socials-img {
    cursor: pointer;
    height: 2rem;
  }
  



